/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@custom-variant light (&:where(.light, .light *));

@theme {
    --color-default: #171716; /*Default or dark mode*/
    --color-text: #ffffff;
    --hover-bg: #ffffff;

    --color-bg-light: #ffffff; /*Light mode*/
    --color-text-light: #111111;
    --hover-bg-light: #000000;
    --font-manrope: "Manrope", sans-serif;
    --font-playwrite: "Playwrite CZ", cursive;
}

@layer {
    .nav-element {
        @apply transition-colors duration-700;

    /* default mode hover*/
    &:hover {
      background-color: var(--hover-bg);
      color: var(--hover-text);
    }

    /* light mode hover */
    .light & {
      &:hover {
        background-color: var(--hover-bg-light);
        color: var(--hover-text-light);
      }
    }
    }
}

:root {
    --bg: var(--color-default);
    --text: var(--color-text);
}

.light {
    --bg: var(--color-bg-light);
    --text: var(--color-text-light);
}

* {
  transition: background-color 0.7s ease, color 0.7s ease;
}

html, body { 
    height: 100%; 
    background-color: var(--bg);
    color: var(--text);
}
body { margin: 0; }

.icon-rotate {
  display: inline-block;
  transition: transform 0.7s ease, color 0.7s ease, opacity 0.7s ease;
}

.light .icon-rotate {
  transform: rotate(360deg);
}

.my-bg {
  background-image: url('/assets/triangle.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
